<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="{MediaRoute}/logo.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="theme-color" media="(prefers-color-scheme: light)" content="white" />
		<meta name="theme-color" media="(prefers-color-scheme: dark)" content="black" />
		<link rel="manifest" href="{MediaRoute}/manifest.json" />
		<title>{PROJECT_Name} - Redirect</title>
		<style>
			body {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 100vh;
				margin: 0;
				background-color: #f5f5f5;
			}
			.logo {
				max-width: 200px;
				width: 100%;
				animation: pump 1s ease-in-out infinite alternate both;
				transform-origin: center;
			}
			@keyframes pump {
				from {
					transform: scale(1);
				}
				to {
					transform: scale(1.5);
				}
			}
		</style>
	</head>
	<body>
		<div class="logo">
			<img width="100%" src="{MediaRoute}/logo.svg" alt="Logo" />
		</div>
		<script>
			// Redirect to another page after 5 seconds
			setTimeout(function () {
				window.location.href = "{MAIN_URL}";
			}, 4000);
		</script>
	</body>
</html>
