@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
	display: flex;
	font-family: "Poppins", sans-serif;
}
/*-------------------------- scrollbar --------------------------*/
::-webkit-scrollbar {
	width: 0.5rem;
	height: 0.5rem;
}

/* Track */
/* ::-webkit-scrollbar-track {
    background: hsl(var(--b1));
} */

/* Handle */
::-webkit-scrollbar-thumb {
	background: hsl(var(--bc));
	border-radius: 2rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: hsl(var(--pf));
}
@layer base {
	input[type="number"]::-webkit-outer-spin-button,
	input[type="number"]::-webkit-inner-spin-button,
	input[type="number"] {
		-webkit-appearance: none;
		margin: 0;
		-moz-appearance: textfield !important;
	}
}

@layer utilities {
	@variants responsive {
		/* Hide scrollbar for Chrome, Safari and Opera */
		.no-scrollbar::-webkit-scrollbar {
			display: none;
		}

		/* Hide scrollbar for IE, Edge and Firefox */
		.no-scrollbar {
			-ms-overflow-style: none; /* IE and Edge */
			scrollbar-width: none; /* Firefox */
		}
	}
}
